# Star Type Classification / NASA

NASA에서 수집한 별의 유형 분류 DataSet이다.

## Star Type Classification


For comparing all models of ML   
It can be used for prediction

Temperature -- K   
L -- L/Lo  
R -- R/Ro  
AM -- Mv  
Color -- General Color of Spectrum  
Spectral_Class -- O,B,A,F,G,K,M / SMASS - https://en.wikipedia.org/wiki/Asteroid_spectral_types  
Type -- Red Dwarf, Brown Dwarf, White Dwarf, Main Sequence , Super Giants, Hyper Giants  

TARGET:  
Type

from 0 to 5  

Red Dwarf - 0  
Brown Dwarf - 1  
White Dwarf - 2  
Main Sequence - 3  
Super Giants - 4  
Hyper Giants - 5

MATH:  

Lo = 3.828 x 10^26 Watts  
(Avg Luminosity of Sun)  
Ro = 6.9551 x 10^8 m  
(Avg Radius of Sun)

## 요약
 요약
Calumns: 온도(K), 광도(L), 반지름(R), AM, 색상, 스펙트럼(Spectral Class), Type (분류)  

![Spectral_Class](https://scienceruls.weebly.com/uploads/5/1/7/4/51741831/846626525.GIF?448)

참고는 Kaggle에서   
https://www.kaggle.com/sohelranaccselab/star-type-classification-using-machine-learning  
https://www.kaggle.com/harshgupta57/star-type-eda-classifications

In [21]:
import pandas as pd
import numpy as np
import os

In [22]:
import matplotlib.pyplot as plt
DATA_PATH = os.path.join('data') # 데이터 저장 폴더

def load_star_data(): # wine data의 csv파일을 return하는 함수
    csv_path = os.path.join(DATA_PATH,'Stars.csv')
    return pd.read_csv(csv_path)

In [23]:
star = load_star_data()
star

     Temperature              L          R    A_M  Color Spectral_Class  Type
0           3068       0.002400     0.1700  16.12    Red              M     0
1           3042       0.000500     0.1542  16.60    Red              M     0
2           2600       0.000300     0.1020  18.70    Red              M     0
3           2800       0.000200     0.1600  16.65    Red              M     0
4           1939       0.000138     0.1030  20.06    Red              M     0
..           ...            ...        ...    ...    ...            ...   ...
235        38940  374830.000000  1356.0000  -9.93   Blue              O     5
236        30839  834042.000000  1194.0000 -10.63   Blue              O     5
237         8829  537493.000000  1423.0000 -10.73  White              A     5
238         9235  404940.000000  1112.0000 -11.23  White              A     5
239        37882  294903.000000  1783.0000  -7.80   Blue              O     5

[240 rows x 7 columns]

In [24]:
#Star 데이터에서 Categorical 한 Data 들을 제거하여 분석
star = star.drop(['Color', 'Spectral_Class', 'Type'], axis=1)
star

     Temperature              L          R    A_M
0           3068       0.002400     0.1700  16.12
1           3042       0.000500     0.1542  16.60
2           2600       0.000300     0.1020  18.70
3           2800       0.000200     0.1600  16.65
4           1939       0.000138     0.1030  20.06
..           ...            ...        ...    ...
235        38940  374830.000000  1356.0000  -9.93
236        30839  834042.000000  1194.0000 -10.63
237         8829  537493.000000  1423.0000 -10.73
238         9235  404940.000000  1112.0000 -11.23
239        37882  294903.000000  1783.0000  -7.80

[240 rows x 4 columns]

In [25]:
#대표적인 Scaler에는 MinMaxScaler, MaxAbsScaler, StandardScaler, RobusScaler 4가지가 있다. + Normalizer

from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import MaxAbsScaler
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import RobustScaler
from sklearn.preprocessing import Normalizer

In [26]:
MM = MinMaxScaler()
MA = MaxAbsScaler()
SS = StandardScaler()
RS = RobustScaler()
NO = Normalizer()

mm=pd.DataFrame(MM.fit_transform(star),columns=star.columns)
ma=pd.DataFrame(MA.fit_transform(star),columns=star.columns)
ss=pd.DataFrame(SS.fit_transform(star),columns=star.columns)
rs=pd.DataFrame(RS.fit_transform(star),columns=star.columns)
no=pd.DataFrame(NO.fit_transform(star),columns=star.columns)

     Temperature             L         R       A_M
0       0.029663  2.731275e-09  0.000083  0.876798
1       0.028980  4.944550e-10  0.000075  0.891807
2       0.017367  2.590003e-10  0.000048  0.957473
3       0.022622  1.412729e-10  0.000078  0.893371
4       0.000000  6.828189e-11  0.000049  1.000000
..           ...           ...       ...       ...
235     0.972150  4.412776e-01  0.695919  0.062226
236     0.759307  9.818959e-01  0.612777  0.040338
237     0.181025  6.327765e-01  0.730304  0.037211
238     0.191692  4.767253e-01  0.570694  0.021576
239     0.944352  3.471816e-01  0.915063  0.128831

[240 rows x 4 columns]